{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="container-fluid row slider">
            <div class="container-fluid col-lg-12">
                <img src="{{ asset('img/slider/slider_1.jpg') }}" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row famous">
            <div class="col-4">
                <h2>Nos vedettes</h2>
            </div>
        </div>
    </div>
{% endblock %}