<footer>
    <footer class="bg-black">
        <div class="container">
            <div class="row col-12 text-center pt-2">
                <h2>Le Louvre</h2>
                <hr>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <ul class="nav justify-content-center footer-links">
                        <li class="col-2 footer-item">
                            <a class="nav-link active" href="#">Accueil</a>
                        </li>
                        <li class="col-2 footer-item">
                            <a class="nav-link" href="#">Gallerie</a>
                        </li>
                        <li class="col-2 footer-item">
                            <a class="nav-link" href="#">L'équipe</a>
                        </li>
                        <li class="col-2 footer-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row credits">
            <div class="d-flex justify-content-between flex-nowrap">
                <h6>Made with <i class="icofont-ui-love"></i> by Anthony D.</h6>
                <h6>2022-2023 (Symfony Project EAFC Namur)</h6>
            </div>
        </div>
    </footer>
</footer>