{% extends 'base.html.twig' %}
{% block title %} La gallerie {% endblock %}
{% block body %}
    {% for paints in paintings %}
        <p>{{ paints.description }}</p>
        <hr>
    {% endfor %}
{% endblock %}