/* Symfony Project : LeLouvre */


body {
    font-family: 'Libre Baskerville', serif;
}

.navbar h1 {
    color: white;
}

.lang {
    margin-top: 20px;
}

.lang a {
    text-decoration: none;
}

.lang a:hover {
    text-decoration: underline;
    color: white;
}

.lang p {
    color: white;
}

.navbar .buttons {
    margin-top: 20px;
    display: inline;
}

.navbar .button {
    border-radius: 20px;
    text-decoration: none;
}

.navbar .button a {
    text-decoration: none;
    color: black;
}

.navbar .button:hover {
    border-radius: 20px;
    text-decoration: none;
}

.navbar .button a:hover {
    text-decoration: none;
    color: white;
}

.home-divider {
    width: 30%;
    text-align: center;
}

.nav-links a {
    color: white;
}

.nav-links a:hover {
    color: grey;
}