/* Symfony Project : LeLouvre */


body {
    font-family: 'Libre Baskerville', serif;
}

.navbar h1 {
    color: white;
}

.navbar {
    padding-bottom: 2px;
}

.lang {
    margin-top: 20px;
}

.lang a {
    text-decoration: none;
}

.lang a:hover {
    text-decoration: underline;
    color: white;
}

.lang p {
    color: white;
}

.navbar .buttons {
    margin-top: 20px;
    display: inline;
}

.navbar .button {
    border-radius: 20px;
    text-decoration: none;
}

.navbar .button a {
    text-decoration: none;
    color: black;
}

.navbar .button:hover {
    border-radius: 20px;
    text-decoration: none;
}

.navbar .button a:hover {
    text-decoration: none;
    color: white;
}

.divider img {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.nav-links a {
    color: white;
}

.nav-links a:hover {
    color: grey;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.slider {
    --bs-gutter-x: 0;
    margin-bottom: 10px;
}
.container-fluid {
    padding: 0;
}
.slider img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover; /* or object-fit: contain; */
    --bs-gutter-x: 0;
}


.famous-card {
    background-color: black;
    overflow: hidden;
}

.card-img {
    object-fit: contain;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}

.card-img img {
    width:100%;
    height:500px;
    object-fit:cover;
    transition: transform 1s;
}

.card-img img:hover {
    transform: scale(1.2);
    height:500px;
    width:100%;
}

.card-infos {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.card-infos button {
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-square-img {
    background-image: url('../img/utils/home-about.jpg');
    background-size: auto;
    background-position: left;
}

.about-square ul {
    list-style-type: none;
}

.about-square li {
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 1.3vw;
}

.contact-slider {
    background-image: url("../img/utils/home-contact.jpg");
    height: 300px;
}

.contact-slider h3 {
    color: white;
}

.contact-content {
    margin-top: 75px;
}

footer h2,
footer hr{
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-links a {
    color: white;
    font-family: Helvetica;
    font-size: 25px;
}

.credits h6 {
    color: white;
    font-family: Helvetica;
}

.credits i {
    color: red;
}

.text-small {
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    text-decoration: none;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: black;
}

footer p,
footer a {
    color: white;
    font-family: Helvetica;
    font-size: 15px;
}

footer i {
    color: red;
}

.gallery {
    margin-bottom: 100px;
}

.card {
    padding: 10px;
    border: none;
    border-radius: 0;
    --bs-card-border-radius: 0;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    overflow: hidden;
    transition: transform 1s;
    border-radius: 0;
    border: none;
}

.card-img img:hover {
    transform: scale(1.2);
    height:500px;
    width:100%;
    overflow: hidden;
}

.main-galery {
    overflow: hidden;
}

.card-body h5,
.card-body h6 {
    color: black;
}